@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <img id="imgLogo" alt="Logo MaisTransporte" src="./assets/images/logo.png" />
    <h1 class="display-4">Bem-vindo ao +Transporte!</h1>
    <p>Nenhum caminho é longo demais quando +Transporte está com você.</p>
</div>
