@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <img id="imgLogo" alt="Logotipo MaisTransporte" 
        src="https://s3-alpha-sig.figma.com/img/03a7/68b5/707e679f46212e0acfd5c6181481258e?Expires=1696809600&Signature=elL05WxVwmqnYzI5xmJYuA~9web6g3hrOec19TAu26hS~AlNxrNfH1-UuEoQjZ2BrjqTmA0VO16UWPoJWgN-EqBFbCsdfcXVliac6dl2BOEvjhFnageBepmtdjEBreAhXHcMd1Lys3~QflsgI5NJPtxV8x~AWpdDaz0lWPe7iBW1-NMwbmnkTIgoKGKDzk8xXqui73UexC4Nvz0amRFOBXvjpu2NCsuBqELcKMfHZBfF0Xmq0vndimcnht~fKaMd0xtIajDrlKU3TpCL1DJvEtPc03OEOkHdtwiiHPOl5VkpK2kFjS02wlnwESIpYWM3re9F9MxxHOo3kDwOm0uEYw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" 
        />
    <h1 class="display-4">Bem-vindo ao +Transporte!</h1>
    <p>Nenhum caminho é longo demais quando +Transporte está com você.</p>
</div>
