/Codigo/ServiceTests/bin
/Codigo/ServiceTests/obj
/Codigo/Core/bin
/Codigo/Core/obj
/Codigo/MaisTransporteWeb/bin
/Codigo/MaisTransporteWeb/obj
/Codigo/Service/obj
/Codigo/Service/bin
/Codigo/MaisTransporteWebTests/bin
/Codigo/MaisTransporteWebTests/obj
