html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    border: 2px #00B37E solid;
    background: #232326;
    color: #E1E1E6;
}

#buttonMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}