@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<h3>Digite seu e-mail:</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="w-100 btn btn-lg btn-primary">Atualizar Senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
