@model MaisTransporteWeb.Models.MotoristaViewModel

@{
    ViewData["Title"] = "Editar Motorista";
}

<h4>Motorista</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgaoExpeditor" class="control-label"></label>
                <input asp-for="OrgaoExpeditor" class="form-control" />
                <span asp-validation-for="OrgaoExpeditor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
