@model IEnumerable<MaisTransporteWeb.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Crie sua Conta";
}
<div class="text-center">
    <h1> Crie sua Conta </h1>
    <hr />
</div>


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="row" id="buttonMargin">
    <div class="col-3"></div>
    <div class="col-6 btn btn-success">
        <a asp-action="Create" class="btn btn-success">NOVO USUÁRIO</a>
    </div>
    <div class="col-3"></div>
</div>