@model MaisTransporteWeb.Models.SugerirViagemViewModel

@{
    ViewData["Title"] = "Crie uma Sugestão de Viagem";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h4>Crie uma Sugestão de Viagem</h4>
    <hr/>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocalOrigem" class="control-label"></label>
                    <input asp-for="LocalOrigem" class="form-control" />
                    <span asp-validation-for="LocalOrigem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocalDestino" class="control-label"></label>
                    <input asp-for="LocalDestino" class="form-control" />
                    <span asp-validation-for="LocalDestino" class="text-danger"></span>
                </div>
                <div class="row justify-content-around">
                    <div class="form-group col-6">
                        <label asp-for="ValorPassagem" class="control-label"></label>
                        <input asp-for="ValorPassagem" class="form-control" />
                        <span asp-validation-for="ValorPassagem" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="TotalVagas" class="control-label"></label>
                        <input asp-for="TotalVagas" class="form-control" />
                        <span asp-validation-for="TotalVagas" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DataPartida" class="control-label"></label>
                    <input asp-for="DataPartida" class="form-control" />
                    <span asp-validation-for="DataPartida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataChegada" class="control-label"></label>
                    <input asp-for="DataChegada" class="form-control" />
                    <span asp-validation-for="DataChegada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control" cols="40" rows="3"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Visibilidade" class="control-label"></label>
                    <input asp-for="Visibilidade" class="form-control" />
                    <span asp-validation-for="Visibilidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdPassageiro" class="control-label"></label>
                    <input asp-for="IdPassageiro" class="form-control" />
                    <span asp-validation-for="IdPassageiro" class="text-danger"></span>
                </div>

                <div class="row justify-content-around" id="buttonMargin">
                    <div class="col-6 w3-right-align">
                        <a asp-action="Index" class="btn btn-danger">CANCELAR</a>
                    </div>
                    <div class="form-group col-6">
                        <input type="submit" value="CADASTRAR" class="btn btn-success"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}