@model MaisTransporteWeb.Models.VeiculoViewModel

@{
    ViewData["Title"] = "Adicionar Veículo";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1 style="text-align:center">Adicionar Veículo</h1>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Renavam" class="control-label"></label>
                    <input asp-for="Renavam" class="form-control" />
                    <span asp-validation-for="Renavam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Placa" class="control-label"></label>
                    <input asp-for="Placa" class="form-control" />
                    <span asp-validation-for="Placa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataEmissao" class="control-label"></label>
                    <input asp-for="DataEmissao" class="form-control" />
                    <span asp-validation-for="DataEmissao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Expedidor" class="control-label"></label>
                    <input asp-for="Expedidor" class="form-control" />
                    <span asp-validation-for="Expedidor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdMotoristaPassageiro" class="control-label"></label>
                    <input asp-for="IdMotoristaPassageiro" class="form-control" />
                    <span asp-validation-for="IdMotoristaPassageiro" class="text-danger"></span>
                </div>

                <div class="row justify-content-around" id="buttonMargin">
                    <div class="col-6 w3-right-align">
                        <a asp-action="Index" class="btn btn-danger">CANCELAR</a>
                    </div>
                    <div class="form-group col-6">
                        <input type="submit" value="CADASTRAR" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
